@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 9%;
  --primary: 0 0% 20%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 97%;
  --secondary-foreground: 0 0% 20%;
  --muted: 0 0% 97%;
  --muted-foreground: 0 0% 56%;
  --accent: 0 0% 97%;
  --accent-foreground: 0 0% 20%;
  --destructive: 0 62% 58%;
  --border: 0 0% 92%;
  --input: 0 0% 92%;
  --ring: 0 0% 71%;
}

.dark {
  --background: 0 0% 14%;
  --foreground: 0 0% 98%;
  --card: 0 0% 20%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 20%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 92%;
  --primary-foreground: 0 0% 20%;
  --secondary: 0 0% 27%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 27%;
  --muted-foreground: 0 0% 71%;
  --accent: 0 0% 27%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62% 70%;
  --border: 0 0% 100% / 10%;
  --input: 0 0% 100% / 15%;
  --ring: 0 0% 56%;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
